@font-face {
    font-weight: 400;
    font-family: 'PressStart2P';
    src: local('PressStart2P'), url(./PressStart2P-Regular.woff) format('woff');
    /* font-display: swap; */
}

@font-face {
    font-weight: 400 700 785;
    font-family: 'Inter';
    src: local('Inter'), 
       url(./Inter-Variable.woff2) format('woff2 supports variations'),
        url(./Inter-Variable.woff2) format('woff2-variations');
    /* font-display: swap; */
}