.main_page {
  color: var(--color-accent);
  background: var(--background-image) fixed center / cover;
  font: var(--font-weight, 16px) var(--main-font, sans-serif);
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--main-font, sans-serif);
  font-weight: 400;

}
.header {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  border: 2px solid #000;
  padding: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem) clamp(1rem, 5vw, 3rem);
  background: var(--background-color);
  font-family: var(--accent-font, sans-serif);
}

.card {
    margin: auto auto 50px;
    background: var(--background-color);
    border: 1px solid var(--border-color);
    max-width: var(--card-width);
}

/* /HTML */
.header__logo {
  font-size: var(--logo-font-size);
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin-top: 20px;
}
/* названия над карточками */
.title-card {
  font-size: 18px;
  font-variation-settings: 'wght' 700;
  font-weight: 700;
  border: 1px solid var(--border-color);
  padding: 5px 10px;
}

/* каритнки */
.card_image {
  border: 1px solid var(--border-color);
  position: relative;
  display: flex;
}

/* текст справа сверху у изображения */
.card_image-text {
  line-height: 1.25;
  text-align: right;
  max-width: 320px;
  font-size: var(--font-size-button);
  font-family: var(--accent-font);
  opacity: 0.5;
  position: absolute;
  inset: 25px 25px auto auto;
  z-index: 2;
}

/*  text-stroke */
/* обводка символов */
@supports (text-stroke: 1px var(--border-color-text)) or
  (-webkit-text-stroke: 1px var(--border-color-text)) {
  .card_image-text {
    text-stroke: 1px var(--border-color-text);
    -webkit-text-stroke: 1px var(--border-color-text);
    text-shadow: none;
  }
}

.card_image-item {
  width: 100%;
}

.card_image-item-2 {
  filter: saturate(30%);
}

.card_image-item-3 {
  filter: saturate(400%);
}

.card_image-item-4 {
  /* сдвиг цветов */
  filter: hue-rotate(30deg);
}

.card_image-item-5 {
  /* инверсия */
  filter: invert(1) contrast(60%);
}

.card_image-item-6 {
  /* эффек стар фотк, коричн цвет */
  filter: sepia(90%);
}

.card_image-item-7 {
  filter: blur(18px);
}

.card_image-item-8 {
  filter: hue-rotate(90deg) blur(2px) contrast(50%) saturate(150%);
}

.content_card {
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 20px;
  padding-left: 25px;
  border: 1px solid #000;
}

.text_card {
  font-size: 18px;
}

/* кнопки у карточек */
.buttons_card {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
  margin-top: 22px;
}

.card_icon-button {
  transition: 0.3s;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* фокус кнопки */
.card_icon-button:focus-visible {
  border-color: var(--color-accent);
}

/* кнопка сердечка */
.card_like-button {
  font-size: var(--font-size-button, 16px);
  font-family: var(--accent-font, sans-serif);
  padding-block: 11px;
  padding-inline: 35px;
}

/* Иконка сохранения */
.main_save-button svg {
  width: 21px;
  height: 21px;
}

/* карточка сохранения */
.save-card {
  width: 100%;
  max-width: var(--card-width, 800px);
  margin: 0 auto;
}

/* Кнопка сохранения */
.main_save-button {
  display: flex;
  line-height: 0.9;
  font-size: var(--font-size-button, 14px);
  font-family: var(--accent-font, 'PressStart2P');
  margin-block: 50px 100px;
  margin-inline: auto;
  padding-block: 15px;
  padding-inline: 20px;
  align-items: center;
  gap: 8px;
}

/* дискета */
.disk-window {
  width: 357px;
  padding: 30px;
  border: 2px solid var(--border-color);
  color: var(--color-accent);
  background-color: var(--background-color);
}

/* меню дискеты */
.disk-window__content {
  display: flex;
  align-items: center;
  gap: 20px;
}
/* текст дискеты */
.disk-window__text {
  line-height: 1.5;
  font-size: var(--font-size-button, 18px);
  font-family: var(--accent-font);
}

/* кнопка дискеты */
.disk-window__button {
  margin-top: 30px;
  padding-top: 10.5px;
  padding-bottom: 10.5px;
  width: 100%;
}

/* текст подтверждения */
.disk-window__ok {
  line-height: 0.9;
  font-family: var(--accent-font);
  font-size: var(--font-size-button, 18px);
}

/*для мобил */
@media (width <= 375px) {
  .main_save-button {
    flex-direction: column;
  }
}

/* текст кнопки */
.button span {
  /* наложение */
  mix-blend-mode: difference;
  color: white;
}

/* кнопки */
.button {
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  z-index: 2;
  border: 2px solid var(--border-color-button, #000);
  background-color:  #FFF;
  position: relative;
}

/* эфф навед на кнопку */
.button::before {
  transition: translate 0.5s ease-in-out;
  background-color: var(--color-accent, #000);
  translate: -100%;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* задержка нажатия у сердца */
.like-icon .main-body {
  transition: fill 0.3s;
}

/* наведение */
.like-icon:hover .main-body {
  fill: #000;
}

/* анимация  сердца */
.like-icon:active .main-body {
  fill: #ff0000;
}